.h-img {
    height: 92vh !important;
}

.carousel-img:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.img-shade {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
}

.artist-background {
    background-image: url('/assets/img/sbc/index.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50vh;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  }

  .about-background {
    background-image: url('/assets/img/sbc/about.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50vh;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  }

  .info-background {
    background-image: url('/assets/img/sbc/info.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50vh;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  }

  .text-justify {
    text-align: justify;
    text-justify: inter-character;
  }


  .overlay{
    background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

ul.navbar li{
  display: inline;
}